.Welcome {
    height: calc(100% - 60px);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.Welcome__verb {
    color: #333;
    margin-top: -4rem;
    font-size: 4rem;
    font-weight: 900;
}

.Welcome__name {
    font-size: 3rem;
    font-weight: 100;
    padding-bottom: 2rem;
}

.Welcome__emoji {
  transition: ease all 0.1s;
}

.Welcome__emoji:hover {
  transform: scale(1.2);
}
